# Pycache stuff
**.pyc
**.pyo

# text and misc files

**.txt
**.yaml
**.xml

# Assembly, Plugins
**.S
**.yapsy-plugin

# IDE Settings
.idea/*

.*
*.egg-info
docs/build/
uarch_test/target/*
uarch_test/*.yaml
